/* header section */

#firstcontainer {
  text-align: center;

  background-repeat: no-repeat;


  border-radius: 16px;

}

#happynewyear {
  margin-top: 30px;
  margin-left: 280px;

  width: 1320px;
  height: 600px;
  border-radius: 16px;
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(resources/Banner\ Image.png) center;
  background-repeat: no-repeat;

}





#text1 {
  font-size: 35px;
  font-family: Merriweather;
  color: #FFF;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-30%, -50%);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;

}

#text2 {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-45%, -50%);
  font-size: 72px;
  font-family: Merriweather;
  width: 632px;
  font-weight: 900;
  color: #FFF;
  text-align: center;


}

/* 2nd cointainer */

#sixty {
  position: absolute;
  top: 80%;
  left: 55%;
  transform: translate(-80%, -55%);
  color: #F00;

  text-align: center;
  font-family: Inter;
  font-size: 88px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 383px;
  height: 107px;

}

#our {
  width: 397px;
  height: 29px;
  position: absolute;
  top: 90%;
  left: 58%;

  transform: translate(-90%, -58%);
  color: #F00;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

#all {
  text-align: center;
  position: absolute;
  top: 100%;
  left: 60%;
  transform: translate(-100%, -60%);
  color: #070211;
  text-align: center;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

#newyear {

  width: 802.9px;
  height: 500px;
  flex-shrink: 0;
  margin-top: 460px;
  margin-left: 460px;

}

/* third container */

#thirdctr {

  background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(resources/Vectorrr.png) center center;
  background-repeat: no-repeat;
  width: 1320px;
  height: 600px;
  margin-left: 280px;
}

.welcome {
  background-image: linear-gradient(to right, rgb(0, 0, 0, 0.7), rgb(0, 0, 0, 0.4)), url(resources/Vectorrr.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 1320px;
  height: 600px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 140px;
  border-radius: 20px;
}

.welcom {
  color: white;
  padding-left: 95px;
  padding-top: 130px;
}

.helo {
  font-size: 50px;
}

.join {
  text-decoration: none;
  color: aliceblue;
  padding-left: 50px;
  font-size: 25px;
}

.img2 {
  padding-right: 60px;
  padding-top: 100px;

}

.join:hover {
  color: skyblue;
}

#place {

  width: 1320px;
  height: 355px;
  background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
  margin: auto;
  margin-top: 120px;
  text-align: center;
  padding-top: 120px;
  color: #070211;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px;
  text-transform: capitalize;



}


.joinbtn1 {
  background-color: red;
  color: white;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #FFF;

  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.newbest {
  display: flex;
  justify-content: space-around;
  margin-top: 250px;
  margin-left: 250px;
  margin-right: 250px;



}

.ek {
  color: #F00;

  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.coming {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: capitalize;
}

.de {
  color: rgba(7, 2, 17, 0.60);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  /* 160% */
  width: 393px;
  height: 128px;
}

.duihajar {
  color: #F00;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.dulu {
  color: rgba(7, 2, 17, 0.60);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  /* 160% */
  width: 276px;
  height: 96px;
}

.ecl {
  border: 8px solid red;
  border-radius: 198px;
  padding: 10px;
}

.clay {
  width: 1320px;
  height: auto;
  margin: auto;
  margin-top: 140px;
}

/* .photo1{
gap: 40px;
} */
.photo2 {
  display: flex;
  gap: 20px;
}

.photo3 {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

#sub {
  justify-content: center;
  border-radius: 16px;
  background: rgba(255, 0, 0, 0.05);
  width: 1320px;
  height: 616px;
  margin: auto;
  margin-top: 120px;
  text-align: center;
  padding-top: 120px;
  color: #070211;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  line-height: 56px;
}

.subs {
  color: #070211;

  text-align: center;
  font-family: Merriweather;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: capitalize;
}

.subss {
  color: rgba(7, 2, 17, 0.60);

  text-align: center;
  font-family: Inter;
  font-size: 20px;


  font-weight: 400;
  line-height: 32px;
  width: 896px;
  height: 64px;
  margin-top: 0px;
  margin-left: 190px;
  margin-bottom: 10px;


}

.user {
  border-radius: 50px;
  background: #FFF;



  width: 648px;
  height: 72px;
  display: flex;
  border-left: 0;
}

.user1 {

  flex-shrink: 0;
  justify-content: center;
  display: flex;
  height: 64px;
  bottom: 500px;










}

.subbtn {
  width: 210px;
  height: 72px;
  color: white;
  border-radius: 0px 50px 50px 0px;

  background: #F00;

}


.last {
  background-color: #070211;
  width: 1600px;
  height: 609px;
  flex-shrink: 0;
  margin-bottom: 100px;
}


.last {
  background-color: rgba(7, 2, 17, 1);
  color: aliceblue;
  margin: auto;
  margin-top: 140px;
  width: 1600px;
  height: 609px;
}

.big {
  display: flex;
  justify-content: space-between;
  padding: 0 2%;
  padding-top: 3%;

}

.social {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.allright {
  display: flex;
  justify-content: space-between;
  padding: 0 2%;
  padding-bottom: 3%;
  
}

.website {
  text-decoration: none;
  color: aliceblue;
}

.hr1 {
  width: 1320px;
  height: 1px;
  background: rgba(255, 255, 255, 0.15);
}
.hr2{
  width: 1320px;
  height: 1px;

}